body {
    background-color: white;
    color: black;
}

#top-frame {
    background-color: green;
    color: white;
    margin-bottom: 20px;;
}

#top-frame p a {
    color: white;
    font-size: 1.25em;
}

#midle-frame {
    border: black solid 5px;
}

.play-button {
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

#film-image-frame {
    text-align: center;
}


h2 {
    text-align: center;
}

.film-thumbnail {
    margin: 50px;
}

.modal-box {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

